/*
    La propiedad "box-shadow" se creó para añadir efectos de sombra a nuestra caja.
    En esencia lo que hace es crear un clon de la caja respetando la forma de su box-model (ancho, alto, redondez)
    La sintaxis de box-shadow se puede escribir de distintas formas según lo que queramos conseguir.

    Los valores que le podemos poner son:
        - offset-x -> Desplazamiento en x (obligatorio)
        - offset-y -> Desplazamiento en y (obligatorio)
        - blur-radius -> Desenfoque de la sombra
        - spread-radius -> Expansión de la sombra
        - color -> El color de la sombra, si no lo especificamos lo   heredará del elemento al que pertenece
        - inset -> Determina si la sombra será interior o exterior

    Otra propiedad es "text-shadow" que aplica sombras a un texto.
    Puedo usar todas las propiedades anteriores excepto spread-radius (expansion de la sombra) e inset.

    Ambas propiedades se comportan como shorthands.
*/

div{
    background-color: tomato;
    color: white;
    font-size: 40px;
    font-family: monospace;
    width: 150px;
    height: 150px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    padding: 20px;
    text-align: center;
}


.box1{
    box-shadow: 10px 10px 20px 10px black;
    text-shadow: 5px 5px 5px black;
}
.box2{
    box-shadow: 0px 15px 20px black;
}
.box3{
    box-shadow: -15px 0px 20px black;
}
.box4{
    box-shadow: 0px 0px 50px 30px black inset;
}


h2{
    text-align: center;
    font-size: 40px;
}

.text1{
    text-shadow: 0px 10px 5px red;
}
.text2{
    text-shadow: -15px 0px 5px green;
}
.text3{
    text-shadow: 15px -10px 5px purple;
}

/* 
    Si aplico un valor negativo a los offset-x/y, las sombras se colocaran en el lado opuesto del eje . Esto aplica en ambas propiedades
*/
